@use "../../styles/foundation/" as *;
/* =======================================
 * ふもと旅館採用 Header スタイル
 * URL: /src/components/common/Header.module.scss
 * Referenced in: /src/components/common/Header.astro
 * Created: 2026-09-19
 * Last updated: 2026-09-21
 * ======================================= */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    height: 100dvh;
    background: linear-gradient(
        158deg,
        rgba(169, 180, 174, 0.3) 11.51%,
        rgba(195, 162, 107, 0.3) 85.39%
    );
    padding: 47px 55px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    &::before,
    &::after {
        content: "";
        position: absolute;
    }
    &::before {
        right: 60%;
        top: 60%;
        width: 186px;
        background: url(../../assets/header/circle01.webp) no-repeat center
            center/contain;
        aspect-ratio: 1;
    }
    &::after {
        right: 55%;
        top: 70%;
        width: 183px;
        background: url(../../assets/header/circle02.webp) no-repeat center
            center/contain;
        aspect-ratio: 1;
        mix-blend-mode: multiply;
    }
    .logoLink {
        display: flex;
        width: 166px;
        img {
            width: 100%;
            object-fit: contain;
        }
    }
    nav {
        font-size: inherit;
        display: flex;
        flex-direction: column;
        gap: 1rem 0;
        margin-top: 8rem;
        align-self: flex-start;
        align-items: flex-start;
        a {
            font-size: fz(14);
            color: $pure-black;
            background-color: $pure-white;
            padding: 0.5em 1.4em;
            border-radius: 100vmax;
            letter-spacing: 0.2em;
        }
    }
    .jobOpenings {
        position: absolute;
        left: 55px;
        bottom: 2vh;
        font-size: fz(70);
        color: $pure-white;
        @include bodoni-moda;
        letter-spacing: -0.1em;
    }
}

.menuButton {
    position: absolute;
    z-index: 2;
    top: 7px;
    right: 7px;
    display: none;
    width: 44px;
    height: 44px;
    padding: 0;
    border: 0;
    background: transparent;
    cursor: pointer;
    place-items: center;
}

.menuIcon {
    object-fit: contain;
}

.menuIconOpen {
    width: 32px;
    height: 25px;
}

.menuIconClose {
    display: none;
    width: 36px;
    height: 37px;
}

.header[data-menu-open] .menuIconOpen {
    display: none;
}

.header[data-menu-open] .menuIconClose {
    display: block;
}
